@import url(normalizer.scss);
@import url(multiselect.scss);

body {
  color: $base-text-color;
  font-family: "Inter", sans-serif;
}

h3 {
  margin: 18px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

h4 {
  margin: 32px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.container {
  padding: 0 32px;
}

hr {
  border-top: 1px solid $hr-color;
}

button {
  cursor: pointer;
}

.primary-btn {
  color: white;
  padding: 10px 12px;
  background-color: $primary-purple-color;
  box-shadow: 0px 1px 1px rgba(31, 41, 54, 0.12),
    0px 2px 6px rgba(110, 0, 255, 0.16);
  border-radius: 4px;
}
